body{
    height: 100vh;
}
.container{
    max-width: 1500px;
    padding: 1rem;
    margin:5rem auto;
    background: url(images/download.jpg);
    background-repeat: no-repeat;
    background-position: 50%;       
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    padding: .5rem 1rem;
    width: 210px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

::placeholder{
    color: gray;
}

input{
    width: 220px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

button{
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: cadetblue;

}

button:hover{
    color: aqua;
}